*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(23, 23, 24);
}

header{
    height: 80px;
    width: 100%;
    background-color: grey;
    align-items: center;
    justify-content: center;
}

.newPostParrafo{
    margin-left: 20px;
}