*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(23, 23, 24);
}

header{
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
    border-bottom: #ffffff12 solid;
}

header label{
    height: 100%;
    width: 100%;
}

header .imagePreview{
    height: 98px;
    width: 100%;
    border-radius: 14px;
    
}
form{
    display: none;
}
.inputMiniatura{
display: none;
}
.img-load{
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 100px;
}

.section--post{
    width: 100%;
}

section{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    /* background-color: rebeccapurple; */
    margin-bottom: 20px;
    margin-top: 27px;
}

.post{
    width: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
}
.imgPerfil{
    min-height: 50px;
    height: auto;
    max-height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 10px;
}

.post--info{
    display: flex;
    flex-direction: row;
}

.post--text{
    display: inline-flex;
    background-color: #101c1c;
    width: 80%;
    max-width: 600px;
    color: white;
    border-radius: 15px;
    position: relative;
    margin: auto;
    padding: 20px;
    font-size: 1.2rem;
}

.botonPost{
    width: 100px;
    margin: auto;
    background-color: red;
    border-radius: 20px;
}

.imagenPrevia{
    width: 64px;
    height: 64px;
    border-radius: 5px;
}

.posted{
    width: 80%;
    max-width: 600px;
    height: auto;
    margin: auto;
    border-radius: 15px;
}

.postedDiv{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    background-color: #101c1c;
    border-radius: 20px;
}
.postedDiv input{
    width: 80%;
    margin: auto;
    border-radius: 20px;
    padding-left: 10px;
}
.newPostParrafo{
    padding: 8px;
    color: white;

    
}
.botonPosted{
    width: 100px;
    margin: auto;
    background-color: red;
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.divComentario{
    
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    background-color: #252825;
    padding-top: 20px;
}
.divComentario p{
    padding-left: 20px;
    margin-bottom: 5px;
    color: white;
}
.divComentario input{
    width: 80%;
    margin: auto;
    border-radius: 8px;
    margin-bottom: 5px;
}

.botonComentar{
    width: 100px;
    margin: auto;
    background-color: red;
    border-radius: 20px;
}
.divRespuesta{
    background-color: #101c1c;
    border-top: solid 1px grey;
}



/* Seccion Galeria */
.galeria{
    /* width: 100%; */
    height: max-content;
    display: none;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    /* border: 1px solid white; */
    text-align: center;
    color: white;
}
.label--galeria{
    height: 100px;
    /* background-color: red; */
}

#for--galeria{
    display: none;
}

.imagenGaleria{
    width: 100%;
    height: auto;
    border-radius: 8px;
}


@media (min-width:700px ){
    .galeria{
        display: grid;
        width: 40%;
    }
    .section--post{
        width: 60%;
    }
}

.container{
    display: flex;
    margin: auto;
    width: 96%;
}

